[Desktop Entry]
Name=Flavos Menu
Comment=Open the Flavos OS Menu
Exec=jgmenu_run
Icon=/usr/share/flavos/logo.svg
Terminal=false
Type=Application
Categories=System;
