[Desktop Entry]
Type=Application
Name=Arquivos
GenericName=Gerenciador de Arquivos
Comment=Navegue pelos seus arquivos e pastas
Icon=system-file-manager
Exec=pcmanfm %U
Categories=FileManager;Utility;Core;GTK;
StartupNotify=true
Terminal=false
MimeType=inode/directory;
