[Desktop Entry]
Name=Terminal
Comment=Emulador de terminal padrão do sistema
Exec=kitty %F
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Nova Janela
Exec=kitty
