[Desktop Entry]
Name=Menu de Aplicativos
Comment=Launcher do Flavos OS
Exec=jgmenu_run
Icon=start-here
Terminal=false
Type=Application
Categories=System;
NoDisplay=true
